* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('../lib/Roboto-Regular.ttf')
}

body {
    font-family: 'Roboto', sans-serif;
}

.accueil {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

a {
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    font-weight: 600;
    border-right: solid black 2px;
}

a:hover {
    background-color: black;
    color: white;
}

a:last-child {
    border-right: none;
}

#banner {
    display: flex; 
    background-image: url(../img/banner.jpg);
    background-size: cover;
    padding: 8rem;
    padding-bottom: 10rem;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.bannière {
    width: 50%;
}

h2 {
    margin-top: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>p {
    display: flex;
    text-align: center;
    margin-top: 2rem;
    margin-left: 15%;
    margin-right: 15%;
}

main>a {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    max-width: 5rem;
    background-color: rgb(184, 24, 45);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-weight: 900;
}

.carte {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    flex-wrap: wrap;
    

}

.carte1 {
    width: 15rem;
    height: 20rem;
    border: solid black 1px;
    margin-right: 2rem;
    background-color: rgb(38, 39, 38);
    margin-bottom: 2rem;
}

.carte2 {
    width:15rem;
    height: 20rem;
    border: solid black 1px;
    margin-right: 2rem;
    background-color: rgb(38, 39, 38);
    margin-bottom: 2rem;
}

.carte3 {
    width:15rem;
    height: 20rem;
    border: solid black 1px;
    margin-right: 2rem;
    background-color: rgb(38, 39, 38);
    margin-bottom: 2rem;
}

.gameplay {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

h4 {
    display: flex;
    align-items: center;
    margin-top: 1rem ;
    margin-left: 1rem;
    color: white;
}

.description {
    margin-top: 1rem ;
    margin-left: 1rem;
    color: white;
}

h5 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    color: white;
    font-size: larger;
}

.inscription {
    background-color: rgb(37, 35, 35);
    padding-bottom: 2rem;
}

input {
    padding: 1rem;
    border: black 1px;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    margin-left: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    background-color: red;
    color: white;
}

button:hover {
    background-color: black;
    border: black;
}


.email {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: rgb(0, 0, 0);
}

.liens {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.lien {
    color: white;
    font-weight: 300;
    border-right: solid white 1px;
}

.lien:hover {
    color:black;
    background-color: white;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    max-width: 5rem;
    height: 1rem;
}

i {
    padding: 10px;
}


@media screen and (max-width:1060px) {
    .liens {
        flex-wrap: wrap;
        margin: 0rem;
    }

    .lien {
        border: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;    

    }
    footer{
        display: flex;
        flex-direction: column;
    }

    .liens {
        flex-direction: column;}

    a {
        border: none;
        margin-bottom: 1rem;
    }

    footer img {
        margin-top: 1rem;
        height: 2rem;
        width: 5000rem;
    }
} 


@media screen and (max-width: 700px) {
    .bannière {
        width: 130%;
    }
    h1 {
        display: flex;
        text-align: center;
        font-size: 1rem;
    }

    .liens {
        flex-direction: column;
    }
}

@media screen and (max-width: 625px) {
    .liens {
        flex-direction: column;
    }
    h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    a {
        border: none;
        margin-bottom: 1rem;
    }

    .accueil {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 545px) {
    .carte1 {
        margin-right: 0rem;
    }

    .carte2 {
        margin-right: 0rem;
    }

    .carte3 {
        margin-right: 0rem;
    }

}